<div class="fixed-action-btn" style="bottom: 100px; right: 60px;">
    <a ng-link="main:offerNew" class="btn-floating btn-large waves-effect waves-light red">
        <i class="large mdi-content-add"></i>
    </a>
</div>

<div class="container">
    <div class="row">
        <div ng-show="offersList.busy" class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="row">
        <div ng-repeat="offer in offersList.offers | orderBy:'-created_at'">
            <div class="col l6 m12">
                <div class="card large">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" ng-src="{{offer.image}}">
                    </div>
                    <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                               <span ng-bind="offer.organization_name"></span> @ <span ng-bind="offer.name"></span> <i class="mdi-navigation-more-vert right"></i>
                            </span>

                        <p class="grey-text text-darken-1">
                            <span am-time-ago="offer.created_at"></span> <span>&#9900;</span> <span
                                ng-bind="offer.views"></span> views
                        </p>
                    </div>
                    <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <span ng-bind="promo.name"></span> <i class="mdi-navigation-close right"></i>
                            </span>

                        <div class="grey-text text-darken-1">
                            <p><a ng-link="main:offerEdit({id:offer.id})"><i class="mdi-content-create"></i> edit</a>
                            </p>
                            <i class="mdi-device-network-wifi"></i>
                            <span ng-bind="offer.wifi_name"></span>
                            <p class="flow-text" ng-bind="offer.description"></p>
                        </div>
                    </div>
                </div>
                <!--<div style="cursor: pointer;" ng-click="m.remove(promo.id)"><i class="fa fa-remove"></i></div>-->
            </div>

        </div>
    </div>
</div>