<!DOCTYPE html>
<html ng-app="pw" lang="en">
<head>
    <meta charset="utf-8">
    <title>PromoWIFI</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="css/vendor.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body>
<main>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red">
            <i class="large mdi-content-add"></i>
        </a>
    </div>

    <div class="container" ng-controller="mainController as m">
        <div class="row">
            <div ng-repeat="promo in m.promos">
                <div class="col l6 m12">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" ng-src="http://lorempixel.com/200/400/nightlife/">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">
                                <span ng-bind="promo.name"></span> <i class="mdi-navigation-more-vert right"></i>
                            </span>

                            <p class="grey-text text-darken-1">
                                18 minutes ago <span>&#9900;</span> 81 views
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">
                                <span ng-bind="promo.name"></span> <i class="mdi-navigation-close right"></i>
                            </span>
                            <div class="grey-text text-darken-1">
                                <p class="flow-text" ng-bind="promo.message"></p>
                            </div>
                        </div>
                    </div>

                    <!--<div style="cursor: pointer;" ng-click="m.remove(promo.id)"><i class="fa fa-remove"></i></div>-->
                </div>

            </div>
        </div>
    </div>
</main>


<div class="row">
    <div class="col-lg-12">
        <form role="form" name="wifiForm">
            <div class="form-group">
                <label for="wifiname">WIFI name</label>
                <input type="text" class="form-control" id="wifiname" required="required"
                       placeholder="Enter wifi name" ng-model="newPromo.name">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <input type="text" class="form-control" id="message" required="required"
                       placeholder="Enter message" ng-model="newPromo.message">
            </div>
            <div class="form-group">
                <div class="radio">
                    <label>
                        <input type="radio" value="promo" name="type" required="required" ng-model="newPromo.type">
                        <i class="fa fa-gift"></i> Promo
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" value="sale" name="type" required="required" ng-model="newPromo.type">
                        <i class="fa fa-dollar"></i> Sale
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button ng-disabled="!wifiForm.$valid" ng-class="{disabled:!wifiForm.$valid}" ng-click="m.add()"
                        class="btn btn-primary"><i
                        class="fa fa-wifi"></i>
                    Add
                </button>
            </div>
        </form>
    </div>
</div>
</div>
<script src="js/vendor.min.js?2"></script>
<script src="js/app.min.js?2"></script>
</body>
</html>
